body {
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}
.carousel {
  margin: auto;
  width: 80.8rem;
  height: 30.12rem;
  border: 1px solid #dfe1e4;
  border-radius: 8px;
  box-shadow: 0 12.5px 10px rgba(0, 0, 0, 10%), 0 100px 80px rgba(0, 0, 0, 0.07);
  overflow: hidden;
  display: flex;
  flex-direction: column;
  position: relative;
}
.carousel-title {
  display: flex;
  width: 100%;
  padding: 12px 16px 4px;
  justify-content: space-between;
  align-items: center;
}
.carousel-title__content {
  display: inline-block;
  font-weight: 600;
  font-size: 1.7rem;
}
.carousel-title__icon {
  font-size: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}
.carousel-title__icon:before {
  display: none;
  content: "";
  position: absolute;
  z-index: -1;
  width: 36px;
  height: 36px;
  background-color: #1d1f22;
  border-radius: 90px;
  opacity: 0.1;
}
.carousel-title__icon:hover::before {
  display: block;
}
.carousel-title__icon:hover {
  cursor: pointer;
}
.btn-option {
  color: initial;
  text-decoration: none;
  position: relative;
}
/* dropdown */
.dropdown-option {
  position: absolute;
  top: 80%;
  right: 0%;
  width: 342px;
  height: 92px;
  border: 0.5px solid #dfe1e4;
  border-radius: 8px;
  box-shadow: 0 12.5px 10px rgba(0, 0, 0, 0.035),
    0 100px 80px rgba(0, 0, 0, 0.07);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #ffff;
  z-index: 2;
}

.dropdown-option__content {
  width: 100%;
  margin: 0 8px;
  height: 36px;
  padding: 10px;
  display: flex;
  margin-bottom: 5px;
  align-items: center;
  text-decoration: none;
  color: inherit;
  position: relative;
  z-index: 3;
}
.dropdown-option__content::before {
  content: "";
  position: absolute;
  top: -5px;
  left: 6px;
  width: 95%;
  height: 100%;
  margin-top: 5px;
  background-color: #d8dadf;
  border-radius: 10px;
  z-index: -1;
  opacity: 0.5;
  display: none;
}
.dropdown-option__content:hover::before {
  display: block;
}
.dropdown-option__text {
  font-weight: 600;
  font-size: 1.5rem;
  margin-left: 10px;
}
/* --------dropdown------- */

/* icon */
.option-icon {
  width: 30px;
  height: 25px;
}
.close {
  width: 30px;
  height: 17px;
}
/* ---------icon-------- */

/* slide  */
.carousel__slide {
  width: 9999px;
  height: 100%;
  margin-top: 10px;
  padding: 0;
  font-display: flex;
  flex-direction: column;
  align-items: center;
  transition: all 1s;
}
.card-item {
  width: 150px;
  min-height: 97%;
  display: inline-block;
  border: 1px solid #dfe1e4;
  border-radius: 8px;
  box-shadow: 0 12.5px 10px rgba(0, 0, 0, 0.035),
    0 100px 80px rgba(0, 0, 0, 0.07);
  overflow: hidden;
  margin-left: 5px;
}

.card-item__content {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  position: relative;
  justify-content: center;
}
.ci-content__img {
  width: 100%;
  height: 130px;
}

.remove-card {
  position: absolute;
  top: 17px;
  right: 21px;
  /* z-index: 1; */
}
.remove-card:hover {
  cursor: pointer;
}
.remove-icon {
  position: absolute;
  width: 30px;
  height: 20px;
  top: -2px;
  left: -22px;
  /* z-index: 6; */
}
.remove-card::before {
  content: "";
  position: absolute;
  background-color: #1d1f22;
  width: 36px;
  height: 36px;
  top: -10px;
  right: -11px;
  border-radius: 90px;
  opacity: 0.5;
  /* z-index: -2; */
}
.card-item_name {
  display: inline-block;
  white-space: nowrap;
  font-weight: 600;
  font-size: 1.5rem;
}
.offset-item-card {
  margin: 6px 0;
  padding: 0 12px;
}
.same-friends {
  width: 16px;
  height: 16px;
  border-radius: 90px;
  display: inline-block;
}
.same-friends-row {
  display: flex;
  align-items: center;
  position: relative;
}
.same-friends-row:hover .same-friend-tooltip {
  display: block;
}
.same-friend-tooltip {
  display: none;
  position: absolute;
  width: 100px;
  height: fit-content;
  top: 17px;
  left: 41px;
  border-radius: 8px;
  text-align: left;
  padding: 9px 10px 9px 10px;
  color: white;
  font-size: 1.3rem;
  z-index: 4;
}

.same-friend-tooltip::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #505458;
  border-radius: 8px;
  opacity: 0.9;
  z-index: -1;
}
.same-friends--first {
  position: absolute;
  z-index: 1;
}
.same-friends--second {
  position: absolute;
  transform: translate(10px);
}
.same-friends-count {
  display: inline-block;
  margin-left: 28px;
  opacity: 0.7;
  font-size: 1.5rem;
}
.add-friend-button {
  margin: auto;
  width: 90%;
  border: 1px solid #dfe1e4;
  border-radius: 5px;
  height: 33px;
  margin-top: 10px;
  padding: 0 17px;
  background-color: #cde1f9;
}
.add-friend-button:hover {
  cursor: pointer;
  background-color: #dbe7f2;
}
.fa-user-plus {
  color: #056be1;
}
.add-friend-title {
  color: #056be1;
  font-weight: 500;
}
/* -------slide------- */
/* navigation icon */
.nav-icon {
  position: absolute;
  display: flex;
  font-size: 2rem;
  width: 48px;
  height: 48px;
  border-radius: 90px;
  background-color: white;
  z-index: 10;
  top: 130px;
  justify-content: center;
  align-items: center;
}
.fa-chevron-left {
  display: block;
  position: absolute;
  left: 15px;
  top: 14px;
}
.nav-icon:hover {
  cursor: pointer;
}
.previous-icon {
  left: 15px;
  display: none;
}
.next-icon {
  right: 8px;
}
